use mfdata
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *  FROM [mfdata].[dbo].[TMSEMP] where SURNAME = 'EASTWOOD'-- '0049'
SELECT TOP 1 * FROM TMSCLK WHERE EMPREF = '0825' ORDER BY CLKDT DESC
SELECT *  FROM [mfdata].[dbo].[TMSEMP] where EMPREF = '0488'

	-- T/Leaders
  -- 0556	J Lee
  -- 0144	C Mattis
  -- 0451	Lyn Burns
  --	'0556','0144','0451'
  
  -- OP2	
  -- 0498	D Reaney
  -- 0545	A Maxey 
  -- 0542   K Cartwright
  --	'0498','0545','0542'
  
  -- NONE MGR
  -- 0204	K Illingworth
  -- 0200	L Herbert	
  -- 0674	G Dyson
  --	'0204','0200','0674'
SELECT t.*, j.*, l.* FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF LEFT JOIN [LOOKUP] l WITH (NOLOCK) ON j.JOBTITLE = l.CODE WHERE (t.EMPREF IN ('0049', '0744','0072','0600','0774'))
SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, j.*, l.* FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF LEFT JOIN [LOOKUP] l WITH (NOLOCK) ON j.JOBTITLE = l.CODE WHERE (t.EMPREF in ('0075'))

SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, j.*, l.* FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF LEFT JOIN [LOOKUP] l WITH (NOLOCK) ON j.JOBTITLE = l.CODE WHERE (l.CODE = '152')

SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, j.*, l.* FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF LEFT JOIN [LOOKUP] l WITH (NOLOCK) ON j.JOBTITLE = l.CODE WHERE (t.EMPREF in ('0498','0545','0542'))
SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, j.*, l.* FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF LEFT JOIN [LOOKUP] l WITH (NOLOCK) ON j.JOBTITLE = l.CODE WHERE (t.EMPREF in ('0204','0200','0674'))


SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, CAST(CASE WHEN j.JOBTITLE IN(154, 147) THEN 1 ELSE 0 END AS BIT) AS REPORTACCESS FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF WHERE (t.EMPREF in ('0556','0144','0451'))
SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, CAST(CASE WHEN j.JOBTITLE IN(154, 147) THEN 1 ELSE 0 END AS BIT) AS REPORTACCESS FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF WHERE (t.EMPREF in ('0498','0545','0542'))
SELECT t.EMPREF, TITLE, FIRSTNAMES, SURNAME, INITIALS, CAST(CASE WHEN j.JOBTITLE IN(154, 147) THEN 1 ELSE 0 END AS BIT) AS ACCESS FROM TMSEMP t WITH (NOLOCK) LEFT JOIN JD j ON t.EMPREF = j.EMPREF WHERE (t.EMPREF in ('0204','0200','0674'))

GO

ALTER	PROCEDURE	SP__GetEmpDetails
@EmpRef VARCHAR(4)
AS
SELECT		t.EMPREF, TITLE, KNOWNBY as FIRSTNAMES, SURNAME, INITIALS, 
SELECT		t.EMPREF, KNOWNBY as FIRSTNAMES, SURNAME, 
			CAST(CASE WHEN j.JOBTITLE IN('154', '147', '275') THEN 1 ELSE 0 END AS BIT) AS ReportAccess, 
			CAST(CASE WHEN j.JOBTITLE IN('141') THEN 1 ELSE 0 END AS BIT) AS IsEngineer, c.CLKDT
FROM		TMSEMP AS t WITH (NOLOCK) 
LEFT JOIN	JD AS j WITH (NOLOCK) 
ON			t.EMPREF = j.EMPREF
INNER JOIN	TMSCLK c
ON			t.EMPREF = c.EMPREF
WHERE		c.CLKDT > getDate()-360 and c.CLKDT > getDate() -1
--WHERE		(t.EMPREF = @EmpRef)

GO

SELECT *  FROM [mfdata].[dbo].[TMSEMP] where EMPREF = '0825'-- '0825'
SELECT *  FROM [mfdata].[dbo].[TMSEMP] where SURNAME = 'TINSDEALL' -- '0744'
SELECT *  FROM [mfdata].[dbo].[TMSEMP] where SURNAME = 'CHARLESWORTH'-- '0072'
SELECT *  FROM [mfdata].[dbo].[TMSEMP] where SURNAME = 'HOUSTON' -- '0600'
SELECT *  FROM [mfdata].[dbo].[TMSEMP] where SURNAME = 'PEARSON' -- '0774'

'0049', '0744','0072','0600','0774'
SP__GetEmpDetails '0825'
GO
SP__GetEmpDetails '0744'
GO
SP__GetEmpDetails '0072'
GO
SP__GetEmpDetails '0600'
GO
SP__GetEmpDetails '0774'
GO


16 Aug 2010
3 SEPT 2014

SELECT TOP 1 * FROM TMSCLK WHERE EMPREF = '0599' ORDER BY CLKDT DESC
SELECT TOP 1 * FROM TMSCLK WHERE EMPREF = '0072' ORDER BY CLKDT DESC
SELECT TOP 1 * FROM TMSCLK WHERE EMPREF = '0600' ORDER BY CLKDT DESC
SELECT TOP 1 * FROM TMSCLK WHERE EMPREF = '0774' ORDER BY CLKDT DESC

SELECT  * FROM CE WHERE EMPREF ='0825'